body {
  background-color: #282c34;
  color: #fff;
}

.movie-app-row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

/* Poster Image */
img {
  max-width: 200px;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease-in-out;
  opacity: 0;
  bottom: 0;
  padding: 25px;
  text-align: center;
}

.header-overlay {
  position: absolute;
  background: transparent;
  width: 100%;
  top: 5px;
  padding: 5px;
}

.rating {
  background: black;
  border-radius: 50%;
  padding: .25em;
  font-weight: 500;
}

.bi-info-circle:hover {
  font-weight: 700;
  scale: 1.3;
  background: black;
  border-radius: 50%;
}

/* #918E9B */
